@tailwind base;
@tailwind components;
@tailwind utilities;

.page__container {
  @apply w-full max-w-[1200px] px-4 my-8 mx-auto flex flex-col gap-8;
}

.section__container {
  @apply flex flex-col items-center justify-center gap-4 my-16;
}

/* Frosted Glass */
.frosted-glass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

/* Animations */
.shimmer {
  display: inline-block;
  background: linear-gradient(90deg, #c0c0c0, #d3d3d3, #ffd700, #d4af37);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s infinite alternate;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Embla */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
